master:
  image: redis:3
  container_name: redis-cluster_master
  ports:
    - '30001:6379'
slave-1:
  image: redis:3
  container_name: redis-cluster-slave-1
  ports:
    - '30002:6379'
  command: redis-server --slaveof redis-master 6379
  links:
    - master:redis-master
slave-2:
  image: redis:3
  container_name: redis-cluster-slave-2
  ports:
    - '30003:6379'
  command: redis-server --slaveof redis-master 6379
  links:
    - master:redis-master
slave-3:
  image: redis:3
  container_name: redis-cluster-slave-3
  ports:
    - '30004:6379'
  command: redis-server --slaveof redis-master 6379
  links:
    - master:redis-master
slave-4:
  image: redis:3
  container_name: redis-cluster-slave-4
  ports:
    - '30005:6379'
  command: redis-server --slaveof redis-master 6379
  links:
    - master:redis-master
slave-5:
  image: redis:3
  container_name: redis-cluster-slave-5
  ports:
    - '30006:6379'
  command: redis-server --slaveof redis-master 6379
  links:
    - master:redis-master
sentinel:
  build: sentinel
  environment:
    - SENTINEL_DOWN_AFTER=5000
    - SENTINEL_FAILOVER=5000
  links:
    - master:redis-master
    - slave-1
    - slave-2
    - slave-3
    - slave-4
    - slave-5
